.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  background: rgb(249, 249, 249);
  padding: 20px;
}
.section-1 .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .content-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.section-1 .content-1 .item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.section-1 .content-1 .item-1 .d {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: rgba(236, 239, 247, 0.712);
  transition: all 0.5s ease;
  cursor: pointer;
}
.section-1 .content-1 .item-1 .d:hover {
  background: rgb(81, 69, 158);
}
.section-1 .content-1 .item-1 p {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.section-1 .content-1 .item-1 p:hover {
  color: rgb(81, 69, 158);
}
.section-1 .dumalo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: rgb(207, 200, 255);
  border-radius: 10px;
  margin-top: 80px;
}
.section-1 .dumalo button {
  background-color: white;
  color: rgb(95, 117, 238);
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.section-1 .dumalo button:hover {
  background-color: rgb(95, 117, 238);
  color: white;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 740px;
}
.section-2 .title {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-right: 50%;
  margin-top: 10%;
}
.section-2 .coins {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 6%;
}
.section-2 .coins img {
  transition: all 0.3s ease;
}
.section-2 .coins img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.section-2 .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.section-2 .test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
  gap: 160px;
}
.section-2 .test .latest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.section-2 .test .latest h2 {
  font-weight: 400;
  font-size: 30px;
}
.section-2 .test .latest b {
  font-weight: 600;
  font-size: 16px;
  color: rgb(111, 118, 126);
}
.section-2 .test .edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2 .test .edit a {
  color: rgb(111, 118, 126);
  font-weight: 400;
  font-size: 18px;
}
.section-2 .test .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section-2 .project-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-top: 2%;
}
.section-2 .project-1 .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.section-2 .project-1 .project-item .text {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}
.section-2 .project-1 .project-item .text b {
  font-weight: 500;
  font-size: 18px;
}
.section-2 .project-1 .project-item .text p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(111, 118, 126);
}
.section-2 .project-1 .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}
.section-2 .project-1 .text-1 b {
  font-weight: 500;
  font-size: 18px;
}
.section-2 .project-1 .text-1 p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(111, 118, 126);
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background: rgb(249, 250, 255);
  width: 450px;
}
.section-3 .cards {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 75px;
}
.section-3 .cards .ll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: black 0px 0px 5px 0px;
}
.section-3 .cards .ll img {
  width: 50px;
  height: 40px;
}
.section-3 .cards .tt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 .cards .tt p {
  font-weight: 500;
  font-size: 16px;
  color: rgb(111, 118, 126);
}
.section-3 .cards .tt p:hover {
  color: rgb(95, 117, 238);
}
.section-3 .payment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 100px;
}
.section-3 .payment h2 {
  font-weight: 500;
  font-size: 30px;
}
.section-3 .payment button {
  width: 105px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section-3 .payment button:hover {
  background-color: rgb(95, 117, 238);
  color: white;
}
.section-3 .payment-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.section-3 .payment-1:hover {
  transform: scale(1.02);
}
.section-3 .create {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 .wallet {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
  margin-right: 55%;
}
.section-3 .wallet h2 {
  font-weight: 500;
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */